<gux-tag-beta>Basic</gux-tag-beta>
<gux-tag-beta color="dark-blue">dark blue</gux-tag-beta>
<gux-tag-beta color="blue">blue</gux-tag-beta>
<gux-tag-beta color="purple">purple</gux-tag-beta>
<gux-tag-beta color="teal">teal</gux-tag-beta>
<gux-tag-beta color="light-purple">light purple</gux-tag-beta>
<gux-tag-beta color="dark-pink">dark pink</gux-tag-beta>
<gux-tag-beta color="dark-purple">dark purple</gux-tag-beta>
<gux-tag-beta color="pink">pink</gux-tag-beta>
<gux-tag-beta color="dark-yellow">dark yellow</gux-tag-beta>
<gux-tag-beta color="yellow">yellow</gux-tag-beta>