// Variables part

@border-radius: 2px;

// Style
gux-tag-beta {
  display: inline-block;
  div.gux-tag {
    position: relative;
    margin: 4px 0;
    display: flex;
    margin: 4px 0;
    color: white;

    .gux-tag-text,
      .gux-tag-close-icon-wrap  {
        background-color: @gux-grey-2;
        height: 22px;
        border-radius: @border-radius;
        margin-right: 8px;
        text-align: center;
      }
      .gux-tag-text {
        white-space: nowrap;
        padding: 1px 8px;
        line-height: 22px;
      }

      .gux-tag-close-icon-wrap {
        width: 24px;
        height: 24px;
        box-sizing: border-box;
        display: none;
        cursor: pointer;
        flex-direction: column;
        justify-content: center;
      }

      .gux-tag-icon-wrap {
        display: inline;
        padding-right: 8px;
      }

      .gux-tag-close-icon {
        margin: 0 auto;
      }

    &:hover {
      .gux-tag-text {
        margin-right: 1px;
        border-radius: @border-radius 0 0 @border-radius;
      }
      .gux-tag-close-icon-wrap {
        display: flex;
        border-radius: 0 @border-radius @border-radius 0;
      }
    }

    &.light {
      color: @gux-grey-2;
    }

    &.outlined {
      .gux-tag-text,
      .gux-tag-close-icon-wrap {
        border: 1px solid #00000045;
      }
      .gux-tag-text {
        padding: 0px 7px;
      }
    }
  }
}

// Theming

// Dark
.gux-tag-dark-theme {
  color: @gux-off-white;
}

.gux-dark-theme {
  gux-tag-beta {
    .gux-tag-dark-theme();
  }
}

gux-tag-beta.gux-dark-theme {
  .gux-tag-dark-theme();
}

// Light
.gux-tag-light-theme {
  color: @gux-grey-2;
}

.gux-light-theme {
  gux-tag-beta {
    .gux-tag-light-theme();
  }
}

gux-tag-beta.gux-light-theme {
  .gux-tag-light-theme();
}

// Default Theme
gux-tag-beta {
  .gux-tag-light-theme();
}
