<div>
  <span id="popover-target-1">Example Target Element</span>
  <gux-flyout-menu-beta for="popover-target-1">
    <gux-menu-beta>
      <gux-submenu label="Menu One">
        <gux-menu-option>Option One One</gux-menu-option>
        <gux-menu-option>Option One Two</gux-menu-option>
        <gux-submenu label="Menu One Three">
          <gux-menu-option>Option One Three One</gux-menu-option>
          <gux-menu-option>Option One Three Two</gux-menu-option>
        </gux-submenu>
        <gux-menu-option>Option One Four</gux-menu-option>
      </gux-submenu>

      <gux-menu-option>Option Two</gux-menu-option>

      <gux-submenu label="Menu Three">
        <gux-menu-option>Option Three One</gux-menu-option>
        <gux-menu-option>Option Three Two</gux-menu-option>
        <gux-submenu label="Menu Three Three">
          <gux-menu-option>Option Three Three One</gux-menu-option>
          <gux-menu-option>Option Three Three Two</gux-menu-option>
        </gux-submenu>
        <gux-menu-option>Option One Four</gux-menu-option>
      </gux-submenu>

      <gux-menu-option>Option Four has a very long name</gux-menu-option>

      <gux-submenu label="Menu Five has a very long name">
        <gux-menu-option>Option Five One</gux-menu-option>
        <gux-menu-option>Option Five Two</gux-menu-option>
        <gux-submenu label="Menu Five Three">
          <gux-menu-option>Option Five Three One</gux-menu-option>
          <gux-menu-option>Option Five Three Two</gux-menu-option>
        </gux-submenu>
        <gux-menu-option>Option Five Four</gux-menu-option>
      </gux-submenu>
    </gux-menu-beta>
  </gux-flyout-menu-beta>

  <span id="popover-target-2" style="float: right">Example</span>
  <gux-flyout-menu-beta for="popover-target-2">
    <gux-menu-beta>
      <gux-submenu label="Menu One">
        <gux-menu-option>Option One One</gux-menu-option>
        <gux-menu-option>Option One Two</gux-menu-option>
        <gux-submenu label="Menu One Three">
          <gux-menu-option>Option One Three One</gux-menu-option>
          <gux-menu-option>Option One Three Two</gux-menu-option>
        </gux-submenu>
        <gux-menu-option>Option One Four</gux-menu-option>
      </gux-submenu>

      <gux-menu-option>Option Two</gux-menu-option>

      <gux-submenu label="Menu Three">
        <gux-menu-option>Option Three One</gux-menu-option>
        <gux-menu-option>Option Three Two</gux-menu-option>
        <gux-submenu label="Menu Three Three">
          <gux-menu-option>Option Three Three One</gux-menu-option>
          <gux-menu-option>Option Three Three Two</gux-menu-option>
        </gux-submenu>
        <gux-menu-option>Option One Four</gux-menu-option>
      </gux-submenu>

      <gux-menu-option>Option Four has a very long name</gux-menu-option>

      <gux-submenu label="Menu Five has a very long name">
        <gux-menu-option>Option Five One</gux-menu-option>
        <gux-menu-option>Option Five Two</gux-menu-option>
        <gux-submenu label="Menu Five Three">
          <gux-menu-option>Option Five Three One</gux-menu-option>
          <gux-menu-option>Option Five Three Two</gux-menu-option>
        </gux-submenu>
        <gux-menu-option>Option Five Four</gux-menu-option>
      </gux-submenu>
    </gux-menu-beta>
  </gux-flyout-menu-beta>
</div>
