
<gux-tag-popover-beta position="right">
    <gux-option>American English</gux-option>
    <gux-option>Latin American Spanish</gux-option>
    <gux-option>European Spanish</gux-option>
    <gux-option>UK English</gux-option>
    <gux-option>Canadian French</gux-option>
    <gux-option>European French</gux-option>
    <gux-option>Dutch</gux-option>
</gux-tag-popover-beta>
<br />
<gux-tag-popover-beta color="dark-blue" position="left">
    <gux-option>American English</gux-option>
    <gux-option>Latin American Spanish</gux-option>
    <gux-option>European Spanish</gux-option>
    <gux-option>UK English</gux-option>
    <gux-option>Canadian French</gux-option>
    <gux-option>European French</gux-option>
    <gux-option>Dutch</gux-option>
</gux-tag-popover-beta>
<br />
<gux-tag-popover-beta color="dark-purple" position="left">
    <gux-option>American English</gux-option>
    <gux-option>Latin American Spanish</gux-option>
    <gux-option>European Spanish</gux-option>
    <gux-option>UK English</gux-option>
    <gux-option>Canadian French</gux-option>
    <gux-option>European French</gux-option>
    <gux-option>Dutch</gux-option>
</gux-tag-popover-beta>