
<gux-tag-popover-beta>
    <gux-tag-popover-option>American English</gux-tag-popover-option>
    <gux-tag-popover-option>Latin American Spanish</gux-tag-popover-option>
    <gux-tag-popover-option>European Spanish</gux-tag-popover-option>
    <gux-tag-popover-option>UK English</gux-tag-popover-option>
    <gux-tag-popover-option>Canadian French</gux-tag-popover-option>
    <gux-tag-popover-option>European French</gux-tag-popover-option>
    <gux-tag-popover-option>Dutch</gux-tag-popover-option>
</gux-tag-popover-beta>
<br />
<gux-tag-popover-beta color="green">
    <gux-tag-popover-option icon="ic-search">American English</gux-tag-popover-option>
    <gux-tag-popover-option icon="ic-tag">Latin American Spanish</gux-tag-popover-option>
    <gux-tag-popover-option icon="ic-calendar-generic">European Spanish</gux-tag-popover-option>
    <gux-tag-popover-option icon="ic-search">UK English</gux-tag-popover-option>
    <gux-tag-popover-option icon="ic-tag">Canadian French</gux-tag-popover-option>
    <gux-tag-popover-option icon="ic-calendar-generic">European French</gux-tag-popover-option>
    <gux-tag-popover-option icon="ic-search">Dutch</gux-tag-popover-option>
</gux-tag-popover-beta>
<br />
<gux-tag-popover-beta color="#1DA8B3">
    <gux-tag-popover-option icon="ic-search">American English</gux-tag-popover-option>
    <gux-tag-popover-option icon="ic-tag">Latin American Spanish</gux-tag-popover-option>
    <gux-tag-popover-option icon="ic-calendar-generic">European Spanish</gux-tag-popover-option>
    <gux-tag-popover-option icon="ic-search">UK English</gux-tag-popover-option>
    <gux-tag-popover-option icon="ic-tag">Canadian French</gux-tag-popover-option>
    <gux-tag-popover-option icon="ic-calendar-generic">European French</gux-tag-popover-option>
    <gux-tag-popover-option icon="ic-search">Dutch</gux-tag-popover-option>
</gux-tag-popover-beta>